* {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Space Mono', monospace;
}

.main {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    text-align: center;
}

.main__heading {
    font-size: 4rem;
}

.main__description {
    width: 55%;
    font-size: 1.2rem;
}

.lilac {
    color: #bd86ff;
}

.white {
    color: white;
}

header {
    height: 20vh;
}

.buttontop {
    position: relative;
    top: 3em;
    left: 8em;
    font-size: 2rem;
}

.buttontop__link {
    text-decoration: none;
}

.buttontop__link:hover {
    color: #bd86ff;
    transition: 0.15s ease-in-out;
}

.icons {
    text-align: center;
    margin-top: 2em;
}

@media (max-width: 1500px) {

    .buttontop {
        top: 2rem;
        left: 2rem;
    }

    @media (max-width: 600px) {

        .buttontop {
            text-align: left;
            font-size: 1.3rem;
        }
        
        .main {
            align-items: stretch;
        }

        .main__heading {
            font-size: 2rem;
            padding-bottom: 2rem;
            padding-left: 2rem;
            text-align: left;
        }

        .main__description {
            width: 80%;
            text-align: left;
            padding-left: 2rem;
            font-size: 1.2rem;
        }
    }
}